In [1]:
import numpy as np
import pandas as pd
import json
import codecs
import datetime

In [2]:
import sys

In [3]:
sys.path.append('.')

In [4]:
import vector_creator.score_vectors_assembly as svec
import process_estimators.auto_regression as ar
import process_estimators.estimators as est

In [5]:
import matplotlib as mpl
import matplotlib.pyplot as plt

In [6]:
def plot_df(df, x, y, title="", xlabel='Date', ylabel='Value', dpi=100):
    plt.figure(figsize=(16,9), dpi=dpi)
    plt.plot(x, y, color='tab:blue')
    plt.gca().set(title=title, xlabel=xlabel, ylabel=ylabel)
    plt.show()

In [7]:
path = '/Users/smuel/AndroidStudioProjects/LuckyMeIntgratedSDK/metadata_init_phase/'

In [8]:
lst = svec.file_list_with_unique_id(path, [])

In [9]:
lst

{'unique_ids': array(['05fa68e5-0ba3-4783-9c07-42740c4914c6',
        '236b91d2-cefb-405a-9de5-a3673ef1c736',
        '5d8a3562-60bf-4186-9d35-a4bb86c4d329',
        'c615dcc5-243e-4fde-8737-917e7ec29329'], dtype='<U36'),
 'file_list': ['05fa68e5-0ba3-4783-9c07-42740c4914c6_11-06-2021_09-53-01.json',
  '236b91d2-cefb-405a-9de5-a3673ef1c736_30-06-2021_01-17-49.json',
  '5d8a3562-60bf-4186-9d35-a4bb86c4d329_28-06-2021_11-14-45.json',
  'c615dcc5-243e-4fde-8737-917e7ec29329_27-06-2021_12-47-52.json']}

In [10]:
uid = lst.get('unique_ids')[0]
meta_files = lst.get('file_list')

In [11]:
uid

'05fa68e5-0ba3-4783-9c07-42740c4914c6'

CONVERT JSON METADATA BY UNIQUE_UID TO:  
1. Dict. OF DataFrames BY KEY FIELD {CallLogs, ImgMetaData, InstallApps} 
2. CONFIGURATION OF SAMPLING RATED AND LIFE CYCLE 
3. TUPLE OF GPS (LAT, LONG) IF EXISTS

In [12]:
config_dict, loc_dict, df_dict = svec.df_for_init_meta(uid, path, lst['file_list'])

In [13]:
config_dict

{'LifeCycleInDays': '1',
 'WifiGpsBatterySamplingTime': '90000',
 'ScreenSensorTime': '45000',
 'ActiveAppSamplingTime': '30000'}

In [14]:
loc_dict[0]

{'Latitude': 32.0875366,
 'Longitude': 34.7854512,
 'Sampling_Collect_Time': '09:53:01'}

In [15]:
df_dict.keys()

dict_keys(['05fa68e5-0ba3-4783-9c07-42740c4914c6_CallLogs', '05fa68e5-0ba3-4783-9c07-42740c4914c6_ImgMetaData', '05fa68e5-0ba3-4783-9c07-42740c4914c6_InstallApps'])

EXTRACT BY UNIQUE_UID: 
1. Extract call-logs DataFrame qiven by unique_uid
2. '05fa68e5-0ba3-4783-9c07-42740c4914c6_CallLogs' is Dict key in the format : UNIQUE-ID_FEILD-TYPE
3. the Dict Value for this key is the corresponding data frame

In [16]:
df2 = df_dict['05fa68e5-0ba3-4783-9c07-42740c4914c6_ImgMetaData']

In [17]:
df2.head(5)

  IMAGE_TYPE     IMAGE_DATE_TIME
0       jpeg 2019-10-16 08:48:55
1       jpeg 2019-10-16 08:49:06
2       jpeg 2019-10-16 08:49:07
3       jpeg 2019-10-20 15:42:48
4       jpeg 2019-10-22 14:09:27

In [18]:
df = df_dict['05fa68e5-0ba3-4783-9c07-42740c4914c6_CallLogs']

In [19]:
df.head(5)

,CALL_NUMBER,CALL_DATE_TIME,CALL_TYPE,CALL_DURATION
0,588957574B738DBFD1C851F3F2FE248C1D20A20C,2020-07-12 15:33:27.936999936,INCOMING,42
1,588957574B738DBFD1C851F3F2FE248C1D20A20C,2020-07-13 06:22:11.676000000,INCOMING,43
2,588957574B738DBFD1C851F3F2FE248C1D20A20C,2020-07-13 09:59:22.920000000,NaN,0
3,588957574B738DBFD1C851F3F2FE248C1D20A20C,2020-07-13 09:59:38.879000064,OUTGOING,0
4,AE183B922FA98F156CF973AAED3FA7C194D3BA37,2020-07-13 10:33:59.004000000,MISSED,0

In [20]:
lat = loc_dict[0]['Latitude']
long = loc_dict[0]['Longitude']

In [21]:
(lat, long)

(32.0875366, 34.7854512)

In [22]:
vec1, vec2 = svec.create_call_logs_vector_for_unique_id(uid, df, (lat, long))

In [23]:
vec.tail(15)

62    1.546345
63    1.182539
64    1.228291
65    1.000000
66    7.059615
67    4.804478
68    8.514697
69    0.049796
70    0.026997
71    0.028692
72    0.028013
73    0.083387
74    0.047296
75    0.047108
76    0.042353
Name: 05fa68e5-0ba3-4783-9c07-42740c4914c6, dtype: float64